.root
  width: 237px
  height: 48px
  background-size: cover

.inner
  padding-left: 50px
  color: white
  height: 100%
  display: flex
  justify-content: center
  flex-direction: column
  flex-wrap: wrap

.title
  padding-bottom: 2px

.subtitle
  font-size: .8em
  opacity: .8

.light
  color: #f1c40f
  font-size: 1.5em
  height: 48px
  flex: 0
  text-align: right
  padding-right: 10px
