.recordList
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-column-gap: 15px
  grid-row-gap: 15px

.completed
  font-weight: bold

.redeemed
  color: green

.recordDescription
  content: 'hi'

.record
  background rgba(#EAFFFF, .05)
  padding: 10px
  display: flex
  font-size: 13px

.accessory
  width: 50px

.main
  flex: 1
  margin-left: 10px

  h3
    margin-top: 10px

.triumpIcon
  max-width: 50px

.objectives
  padding: 10px
